.nav-bar {
    font-size: 16px;
    color: #606266;
    height: 40px;

    box-shadow: 0px 1px 0px #DCDFE6;
    width: 800px;

    box-sizing: border-box;
    z-index: 999;
}
.nav-bar>li {
    float: left;
    height: 40px;
    line-height: 40px;
    width: 60px;
    text-align: center;

    cursor: pointer;
    user-select: none;

    box-sizing: border-box;
    z-index: 999;
}
.nav-bar>li:hover {
    color: #303133;
    border-bottom: 1px solid #409EFF;
}
.active {
    color: #303133;
    border-bottom: 1px solid #409EFF;
}